.admin-page {
    padding: 40px 60px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.admin-page h1 {

    text-align: center;
    margin-bottom: 10px;
    color:#006A4E;
}

.admin-page h2 {
    text-align: center;
    margin-bottom: 30px;
    color:#333333;
}

.donation-card {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.donation-card p {
    margin: 8px 0;
}

.donation-card select {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.admin-title {
    color: #333;
}

.status-label {
    margin-top: 15px;
    font-weight: bold;
}

