.directory-page {
    min-height: 100vh;
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.directory-page h1 {
    color: #006A4E;
    font-size: 40px;
    margin-bottom: 30px;
}

.directory-page>p {
    color: #444;
    font-size: 18px;
    margin-bottom: 20px;
}

.selection-section {
    margin-bottom: 30px;
}

.selection-section label {
    display: block;
    color: #006A4E;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selection-section select {
    width: 500px;
    max-width: 100%;
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgb(199, 221, 209);
}

.organization-section {
    width: 1200px;
    max-width: 100%;
    margin: 40px auto 0;
}

.organization-section h2 {
    color: #006A4E;
}

.organization-card {
    background-color:rgb(199, 221, 209);;
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 20px;
    text-align: left;
}

.organization-card h3 {
    color: #006A4E;
    margin-bottom: 10px;
    font-size: 22px;
}

.organization-card p {
    color: #444;
}