
.volunteer-page {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    padding: 50px 20px;
    box-sizing: border-box;
}

.volunteer-page h1 {
    color: #006A4E;
    font-size: 40px;
    margin-bottom: 10px;
}

.volunteer-page>p {
    color: #444;
    font-size: 18px;
    margin-bottom: 40px;
}

.volunteer-form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #006A4E ;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
}

.volunteer-form h2 {
    color: #006A4E;
    text-align: center;
    margin-bottom: 25px;
}

.volunteer-form label {
    display: block;
    margin-bottom: 6px;
    height: 50%;
}

.volunteer-form input,
.volunteer-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: rgb(199, 221, 209);
    box-sizing: border-box;
}

.volunteer-form button {
    width: 100%;
    padding: 12px;
    background-color: #006A4E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-message{
    color: #006A4E;
    text-align: center;
    font-weight: bold;
    margin-bottom:-10px;
    margin-top: 25px;
}
.volunteer-form button:hover {
    background-color: #00513c;
}